doctype html
html(lang='en')
  head
    title index
  body
    h1 Bienvenido
    b elige una de las siguientes opciones
      ul
        li
          a(href='/list') listar todas las películas
        li
          a(href='/listOne') mostrar una película
        li
          a(href='/update') actualizar una apelícula
        li
          a(href='/delete') borrar una película
        li
          a(href='/insert') insertar una pelicula