doctype html
html(lang='en')
  head
    title listOne
  body
    h1 listar una pelicula
    if !pulsaBoton
      p escribe la id de una pelicula para listarla
      form(action='/listOne/', method='get')
        input(type='text', name='valor')
        br
        input(type='submit', value='listar', name='boto')
    else
      if peli == null
        p película no encontrada
      else
        p #{peli.titol}, codigo de pelicula #{peli.codpeli}
        p #{peli.sinopsi}
      a(href='/listOne') atras
    
    br
    a(href='/') inicio


